.wp {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 25px;
  right: 25px;
  z-index: 999;
}

@media (min-width: 320px) and (max-width: 800px) {
  .wp{
    height: 32px;
    width: 32px;
  }
}